{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <h1>Welcome to REGIS High School Finance Portal</h1>
    <p class="lead">Manage student info, payments, and budgets easily.</p>

    <a href="{% url 'dashboard_student_register' %}" class="btn btn-success m-2">Register New Student</a>
    <a href="{% url 'dashboard_student_list' %}" class="btn btn-primary m-2">View Registered Students</a>
    <a href="{% url 'dashboard_record_payment' %}" class="btn btn-outline-primary m-2">Record Payment</a>
    <a href="{% url 'dashboard_payment_list' %}" class="btn btn-outline-success m-2">View Payments</a>
    <a href="{% url 'dashboard_analytics' %}" class="btn btn-outline-dark m-2">Analytics</a>
    <a href="{% url 'dashboard_record_expense' %}" class="btn btn-outline-danger m-2">Record Expense</a>
    <a href="{% url 'dashboard_expense_list' %}" class="btn btn-outline-dark m-2">View Expenses</a>

  </div>
{% endblock %}
